REACT_APP_EMAILJS_SERVICE_ID=service_76e3ram
REACT_APP_EMAILJS_USER_TEMPLATE_ID=template_kepcj1k
REACT_APP_EMAILJS_ADMIN_TEMPLATE_ID=template_3z6tnaf
REACT_APP_EMAILJS_PUBLIC_KEY=RJ_KXTtSv5JAOFv2a
REACT_APP_ADMIN_EMAIL=janam.khatiwada@ambikatechnology.com